:root {
    --date-color: var(--vp-c-text-2);
    --date-font-family: Georgia, sans-serif;
}

.date {
    color: var(--date-color);
    font-family: var(--date-font-family);
}

.post-info {
    font-size: 12px;
}

.post-info span {
    display: inline-block;
    padding: 0 8px;
    background-color: var(--vp-c-bg-alt);
    margin-right: 10px;
    transition: 0.4s;
    border-radius: 2px;
    color: var(--vp-c-text-1);
}